*.class
*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies

#Linux
*~

#Idea 
*.iml
.idea/
.settings/
.cache

#Eclipse
.classpath

#Emacs
#*#


#IntelliJ idea : 
classes/
